.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    padding: 20px;
    background-color: rgb(151, 77, 196);
   height: 400px;
  }
  
  .box {
    background-color: rgb(255, 255, 255);
    width: 250px; 
    height: 230px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    border: 2px solid whitesmoke; 
    border-radius: 8px; 
    transition: transform 0.2s; 
    
  }
  
  .box:hover {
    transform: scale(1.05);
  }
  
  @media (max-width: 600px) {
    .container {
      flex-direction: column; 
      align-items: center; 
    }
  
    .box {
      width: 90%; 
      max-width: 300px; 
    }
  }
  